.nav, .directory {
  color:black;
  letter-spacing:1pt;
  word-spacing:3pt;
  font-size:15px;
  font-family:tahoma, verdana, arial, sans-serif;
  line-height:1;
}

.nav {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ccccbb;
}

.directory {
  padding: 5px;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}
